@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" title="See all expenses" asp-action="Expenses">See all Expenses</a>
    <a class="btn btn-secondary" title="Create a new expense" asp-action="CreateEditExpense">Create New Expense</a>
</div>
